.sign-in-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.sign-in-container h1 {
  color: #333;
  margin-bottom: 20px;
  font-size: 24px;
}

.login-dropdown {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #28a745;
  margin-bottom: 20px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.submit-button {
  background-color: #28a745;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}

.submit-button:hover {
  background-color: #218838;
}
